body {
    margin: 0;
}

html {
    font-family: Creepster, sans-serif;
}

section.movie-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 15%;
    color: aliceblue;
}

.list_button {
    float: right;
    margin: 0.5em 1em 0.5em 0;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img{
    width: 80%;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    background-color: darkorange;
    color: white;
    border-radius: 10px;
    font-size: 2em;
    padding: 5px 10px;
}
.gauche{
    margin: 1rem;
    background-color: darkslateblue;
    border-radius: 10px;
    padding: 0.5rem;
}
.droite{
    margin: 1rem;
    background-color: #338a8b;
    border-radius: 10px;
    padding: 0.5rem;

}